<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjx.app.network" >

    <uses-permission android:name="android.permission.INTERNET"/>
<!--    该方法防止网络请求被抓包-->
<!--    <application android:networkSecurityConfig="@xml/network_security_config">-->
    <application >
        <activity
            android:name=".environment.EnvironmentActivity"
            android:label="@string/network_environment_setting"
            android:screenOrientation="portrait" />
    </application>
</manifest>
